
$bgColor: #b3b0b0;
$primaryColor: #2262CC;
$secondaryColor: #2458AE;
$textCenter: center;
$colorText: white;
$fontDefault : 'Roboto', sans-serif;
$fontSizeDefault: 1.2em;
$paddingDefault: 4px;
$radiusDefault: 12px;
$transitionSpeed: 0.3s;
$colorTextHover: gray;